@charset "UTF-8";
a{
	color:#FFEBCD;
	text-decoration: none;
}
body{
	height: 100%;
    background:url(../images/mainPage.jpg);
    background-size: cover;
    color: #FFEBCD;
    font-size:large;
    font-family: Helvetica;
   }
footer{
	font-size:small;
    position: absolute;
 	left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

table{
	width: 100%;
    border-collapse: collapse;
}
.mini_table{
		width: 30%;
}
th, td {
      border: 1px solid black;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color:#FFEBCD;
	font-family: Helvetica;
}
.header_section{
	display: flex;
	align_items: center;
}

.header_item{
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px; 
}
.header_item:hover{
	border-radius: 4px;
	background:black;	
}
.header_logo{
	font-size: 25px;
	font-weight :bold;
}
.bd-hide {
    border: none;
}